<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to home_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>

<div id="container">
	<section id="container-descricao-conteudo">
		<article>
			<header class="verde"><h2>Avaliação</h2></header>
			
			<div>
				
				<p>
    				O INFOINT - Objeto de Aprendizagem de Introdução da Informática é um software que  trabalha as habilidades e
					interação de uma pessoa que possui dificuldades em utilizar ou que está em fase de aprendizagem das novas 
					Tecnologias de Informação e Comunicação. O objetivo do software é oferecer atividades e informações que 
					permitam que os usuários aprendam os conceitos básicos e padrão para lidar com os recursos de hardware e software
					existentes.
    			</p>
    			<br />
    			<p>
    				Para que seja possível realizar a avaliação do software desenvolvido, conribua com o projeto preenchendo o formulário elaborado baseado no 
    				Instrumento de Revisão e Objetos de Aprendizagem (
    				<a href="http://edutechwiki.unige.ch/en/Learning_Object_Review_Instrument" target="_seelf">Learning Object Review Instrument (LORI) -  versão 1.5</a>)
    			</p>
				 
			</div>
			
			<span id="container-botao-avaliacao">
				<a id="botao-avaliacao" href="https://docs.google.com/spreadsheet/viewform?formkey=dDNNVUcxdm5JSy1zUnoxOG55SzdJaVE6MQ#gid=0" class="botao botao-azul"> Iniciar Avaliação </a>	
			</span>
			
		</article>
	</section>
</div>





