<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to inicio_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>



<div id="container">
	<iframe src='http://embed.verite.co/timeline/?source=0Ak4qBGnb8Z69dEVTaVNHYUM2bzlJZEZXWUtvME1uU3c&font=Bevan-PotanoSans&maptype=toner&lang=pt-br&height=650' width='1030px' height='760px' frameborder='0'></iframe>
</div>
