<div id="container">
	
	<header id="cabecalho-principal">
		<div id="logo-inicio">
			<h1>INFOINT</h1>
			<h2>Objeto de Aprendizagem</h2>
		</div>
		<div id="container-google-tradutor">
			<div id="google_translate_element"></div>	  				
		</div>
	</header>
	
	 <nav>
    	<ul>
    		<li class="opcao-1"><%= link_to "Inicio", inicio_index_path %></li>
    		<li class="opcao-2"><%= link_to "Viagem no Tempo", viagem_no_tempo_index_path %></li>
    		<li class="opcao-3"><a href="#">Avaliação</a></li>
    		<li class="opcao-4"><a href="#">Fale Conosco</a></li>
    		<li class="opcao-5"><a href="#">Sobre</a></li>
 
    	</ul>
    </nav>
    
    <section class="conteudo">
    	
    	<aside>

    	</aside>
    	
    	<article>
    		<header><h2>Bem-Vindo!</h2></header>

    			<p>
    				O INFOINT - Objeto de Aprendizagem de Introdução da Informática é um software que  trabalha as habilidades e
					interação de uma pessoa que possui dificuldades em utilizar ou que está em fase de aprendizagem das novas 
					Tecnologias de Informação e Comunicação. O objetivo do software é oferecer atividades e informações que 
					permitam que os usuários aprendam os conceitos básicos e padrão para lidar com os recursos de hardware e software
					existentes.
    			</p>
    	</article>
    	
    	<article>
    		<header><h2>Características</h2></header>
    		<ul>
    			<li>
    				<h3>Hardware</h3>
    				Conheça de maneira interativa assuntos relacionados aos dispositivos de hardware
    			</li>
    			<li>
    				<h3>Software</h3>
    				Aprenda e interaja com os diferentes tipos de padrões de interface existentes na maioria dos softwares.
    			</li>
    			<li>
    				<h3>Abstração e Cognição</h3>
    				Exercite a sua mente através de atividades que trabalham a memorização e o raciocínio lógico. 
    			</li>
    		</ul>
    	</article>
    	
    </section>
    
    <footer>
		<hr class="linha-1 vermelho" /><hr class="linha-2 laranja" /><hr class="linha-3 verde" /><hr class="linha-4 azul" /><hr class="linha-5 lilas" />
		<div>
			<div id="direitos-autorais">
				<span>
					<em>Criado por:</em>
					<br />
					<a href="http://lattes.cnpq.br/5907826159997287">Diego Augusto de Faria Barros</a>
					
    			
				</span>
			</div>
			
			<div id="logos-tecnologias">
				<div class="logo-open-source">
					<a href="http://www.opensource.org">
						<%= image_tag "logos/OSI-logo-100x117.png", :alt => "Open Source Initiative", :title => "Open Source Initiative" %>
					</a>
				</div>
				<div class="logo-html-5">
					<a href="http://www.w3.org/html/logo/">
						<img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics-storage.png" alt="HTML5 Powered with CSS3 / Styling, Semantics, and Offline &amp; Storage" title="HTML5 Powered with CSS3 / Styling, Semantics, and Offline &amp; Storage">
					</a>
				</div>
			</div>
		</div>
    </footer>
    
</div>







